<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arm.debug.cmsis.launch">
    <mapAttribute key="AverageDurationTracker">
        <mapEntry key="*Fetching Data Model" value="484549"/>
        <mapEntry key="*list global low level symbols" value="7214110"/>
        <mapEntry key="*loading values from target" value="20252345"/>
        <mapEntry key="*updating registers" value="96402600"/>
        <mapEntry key="*updating variables" value="2343166"/>
        <mapEntry key="AddEventObserver" value="589401"/>
        <mapEntry key="Evaluate" value="456175"/>
        <mapEntry key="Retrieving globals list" value="4223615"/>
        <mapEntry key="break" value="3435420"/>
        <mapEntry key="compute execution mode" value="727257"/>
        <mapEntry key="continue" value="9801980"/>
        <mapEntry key="core" value="827537"/>
        <mapEntry key="disassemble" value="100429500"/>
        <mapEntry key="file" value="154413652"/>
        <mapEntry key="finish" value="11600145301"/>
        <mapEntry key="get capabilities" value="258597"/>
        <mapEntry key="get execution addresss" value="1041115"/>
        <mapEntry key="get source lines" value="544154"/>
        <mapEntry key="initialize command help" value="33836302"/>
        <mapEntry key="interrupt" value="28805770"/>
        <mapEntry key="list breakpoint options" value="222585"/>
        <mapEntry key="list breakpoints" value="278275"/>
        <mapEntry key="list instruction sets" value="335635"/>
        <mapEntry key="list signals" value="676616"/>
        <mapEntry key="list watchpoint options" value="862751"/>
        <mapEntry key="list watchpoints" value="290784"/>
        <mapEntry key="load" value="5064330"/>
        <mapEntry key="next" value="58912253"/>
        <mapEntry key="reload-symbol-file" value="37441500"/>
        <mapEntry key="remove" value="2738647"/>
        <mapEntry key="run script" value="11877095007"/>
        <mapEntry key="set CWD" value="2021223"/>
        <mapEntry key="set breakpoint properties" value="4333814"/>
        <mapEntry key="set debug-from" value="933421"/>
        <mapEntry key="start" value="229236892"/>
        <mapEntry key="step" value="69141000"/>
        <mapEntry key="target reset" value="15563703"/>
        <mapEntry key="toggleBreakpoint" value="3799389"/>
        <mapEntry key="waitForTargetToStop" value="25287537"/>
    </mapAttribute>
    <stringAttribute key="CLOCK_SPEED" value="10MHz"/>
    <stringAttribute key="CMSIS_DCORE" value="Cortex-M4"/>
    <stringAttribute key="CMSIS_EXE_FILE" value="${workspace_loc:/Project/Debug/Project.axf}"/>
    <booleanAttribute key="CMSIS_FLASHABLE" value="true"/>
    <mapAttribute key="CMSIS_FLASH_ALG_0_DEFAULTS">
        <mapEntry key="CMSIS_FLASH_ALG_0_FILE" value="STM32F4xx_OTP.FLM"/>
        <mapEntry key="CMSIS_FLASH_ALG_0_IS_DEFAULT" value="false"/>
        <mapEntry key="CMSIS_FLASH_ALG_0_RAM_SIZE" value="131072"/>
        <mapEntry key="CMSIS_FLASH_ALG_0_RAM_START" value="536870912"/>
        <mapEntry key="CMSIS_FLASH_ALG_0_REGION_SIZE" value="528"/>
        <mapEntry key="CMSIS_FLASH_ALG_0_REGION_START" value="536836096"/>
    </mapAttribute>
    <stringAttribute key="CMSIS_FLASH_ALG_0_ERASE_METHOD" value="SECTORS"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_FILE" value="STM32F4xx_1024.FLM"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_FILE_PATH" value=""/>
    <booleanAttribute key="CMSIS_FLASH_ALG_0_FORCE_PROGRAM" value="false"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_IS_DEFAULT" value="true"/>
    <booleanAttribute key="CMSIS_FLASH_ALG_0_PROGRAM" value="true"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_RAM_SIZE" value="131072"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_RAM_START" value="536870912"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_REGION_SIZE" value="1048576"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_REGION_START" value="134217728"/>
    <booleanAttribute key="CMSIS_FLASH_ALG_0_VERFIY" value="true"/>
    <mapAttribute key="CMSIS_FLASH_ALG_1_DEFAULTS">
        <mapEntry key="CMSIS_FLASH_ALG_1_FILE" value="STM32F4xx_1024.FLM"/>
        <mapEntry key="CMSIS_FLASH_ALG_1_IS_DEFAULT" value="true"/>
        <mapEntry key="CMSIS_FLASH_ALG_1_RAM_SIZE" value="131072"/>
        <mapEntry key="CMSIS_FLASH_ALG_1_RAM_START" value="536870912"/>
        <mapEntry key="CMSIS_FLASH_ALG_1_REGION_SIZE" value="1048576"/>
        <mapEntry key="CMSIS_FLASH_ALG_1_REGION_START" value="134217728"/>
    </mapAttribute>
    <mapAttribute key="CMSIS_FLASH_ALG_2_DEFAULTS">
        <mapEntry key="CMSIS_FLASH_ALG_2_FILE" value="STM32F40xxx_41xxx_OPT.FLM"/>
        <mapEntry key="CMSIS_FLASH_ALG_2_IS_DEFAULT" value="false"/>
        <mapEntry key="CMSIS_FLASH_ALG_2_RAM_SIZE" value="131072"/>
        <mapEntry key="CMSIS_FLASH_ALG_2_RAM_START" value="536870912"/>
        <mapEntry key="CMSIS_FLASH_ALG_2_REGION_SIZE" value="4"/>
        <mapEntry key="CMSIS_FLASH_ALG_2_REGION_START" value="536854528"/>
    </mapAttribute>
    <booleanAttribute key="CMSIS_FLASH_AS_CONNECT" value="true"/>
    <booleanAttribute key="CMSIS_FLASH_SUPRESS" value="true"/>
    <booleanAttribute key="CMSIS_LOAD_SYMBOLS_ONLY" value="false"/>
    <stringAttribute key="CMSIS_PACK_NAME" value="STM32F4xx_DFP_STM32F407VGTx"/>
    <stringAttribute key="CMSIS_PACK_VERSION" value="2.15.0"/>
    <stringAttribute key="CMSIS_PNAME" value=""/>
    <stringAttribute key="CMSIS_PREVIOUS_PRIMARY_FILE" value="C:\Users\Josiah Ferguson\git\repository\project\Project\Debug\Project.axf"/>
    <stringAttribute key="CMSIS_PRIMARY_FILE" value="${workspace_loc:/Project/Debug/Project.axf}"/>
    <stringAttribute key="CMSIS_PROJ" value="Project"/>
    <stringAttribute key="CMSIS_PROJECT_EXECUTABLE" value="${workspace_loc:/Project/Debug/Project.axf}"/>
    <stringAttribute key="CMSIS_RESET_TYPE" value="reset.system"/>
    <stringAttribute key="CMSIS_SDF_DIR" value="C:\Users\Josiah Ferguson\Development Studio Workspace\.metadata\.plugins\com.arm.debug.cmsis\DS-MDK\STM32F4xx_DFP_STM32F407VGTx"/>
    <stringAttribute key="CMSIS_SVD_DIR" value="C:\Users\Josiah Ferguson\Development Studio Workspace\.metadata\.plugins\com.arm.debug.cmsis\DS-MDK\SVD\STM32F40x"/>
    <listAttribute key="FILES.ICE_DEBUG">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.TYPE" value="SYMBOLS_FILE"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.VALUE" value="C:\Users\Josiah Ferguson\git\repository\project\Project\Debug\Project.axf"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.1.TYPE" value="SFR_SEARCH_DIRS"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.1.VALUE" value="C:\Users\Josiah Ferguson\Development Studio Workspace\.metadata\.plugins\com.arm.debug.cmsis\DS-MDK\SVD\STM32F40x"/>
    <intAttribute key="FILES.ICE_DEBUG.RESOURCES.COUNT" value="2"/>
    <stringAttribute key="FILES.SELECTED_DEBUG_OPEATION" value="ICE_DEBUG"/>
    <booleanAttribute key="InstructionStepping" value="true"/>
    <booleanAttribute key="KEY_COMMANDS_AFTER_CONNECT" value="false"/>
    <booleanAttribute key="KEY_COMMANDS_AS_CONNECT" value="true"/>
    <stringAttribute key="KEY_COMMANDS_AS_CONNECT_TEXT" value="reset reset.system&#13;&#10;flash load-multiple &quot;C:\Users\Josiah Ferguson\git\repository\project\Project\Debug\Project.axf&quot;"/>
    <booleanAttribute key="SWD" value="true"/>
    <booleanAttribute key="SWJ" value="true"/>
    <listAttribute key="TREE_NODE_PROPERTIES:debugger.view.VariableTreeView">
        <listEntry value="NODE CACHE VERSION 1"/>
        <listEntry value="LOCALS:Locals:VALUE:C:/Users/Josiah Ferguson/Development Studio Workspace/Project/src/Thread.c::FS::selected_FileID"/>
        <listEntry value="1"/>
        <listEntry value="element formatter"/>
        <listEntry value="Character"/>
        <listEntry value="LOCALS:Locals:VALUE:C:/Users/Josiah Ferguson/Development Studio Workspace/Project/src/Thread.c::FS::header:VALUE:C:/Users/Josiah Ferguson/Development Studio Workspace/Project/src/Thread.c::FS::header.data_chunk_header"/>
        <listEntry value="1"/>
        <listEntry value="element formatter"/>
        <listEntry value="Character"/>
        <listEntry value="LOCALS:Locals:VALUE:C:/Users/Josiah Ferguson/Development Studio Workspace/Project/src/Thread.c::FS::$0::f"/>
        <listEntry value="1"/>
        <listEntry value="element formatter"/>
        <listEntry value="Character"/>
        <listEntry value="LOCALS:Locals:VALUE:C:/Users/Josiah Ferguson/Development Studio Workspace/Project/src/Thread.c::FS::header:VALUE:C:/Users/Josiah Ferguson/Development Studio Workspace/Project/src/Thread.c::FS::header.riff"/>
        <listEntry value="1"/>
        <listEntry value="element formatter"/>
        <listEntry value="Character"/>
        <listEntry value="LOCALS:Locals:VALUE:C:/Users/Josiah Ferguson/Development Studio Workspace/Project/src/Thread.c::FS::header:VALUE:C:/Users/Josiah Ferguson/Development Studio Workspace/Project/src/Thread.c::FS::header.wave"/>
        <listEntry value="1"/>
        <listEntry value="element formatter"/>
        <listEntry value="Character"/>
        <listEntry value="LOCALS:Locals:VALUE:C:/Users/Josiah Ferguson/Development Studio Workspace/Project/src/Thread.c::FS::header:VALUE:C:/Users/Josiah Ferguson/Development Studio Workspace/Project/src/Thread.c::FS::header.fmt_chunk_marker"/>
        <listEntry value="1"/>
        <listEntry value="element formatter"/>
        <listEntry value="Character"/>
    </listAttribute>
    <stringAttribute key="ULP_CONFIG" value="C:\Users\Josiah Ferguson\Development Studio Workspace\.metadata\.plugins\com.arm.debug.cmsis\DS-MDK\STM32F4xx_DFP_STM32F407VGTx\ulp-config.txt"/>
    <stringAttribute key="breakpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;breakpoints order=&quot;ALPHA&quot;&gt;&#10;&lt;/breakpoints&gt;&#10;"/>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.addresses">
        <listEntry value="&lt;Next Instruction&gt;"/>
    </listAttribute>
    <listAttribute key="com.arm.debug.views.common.AddressTracker.debugger.view.DisassemblyView.ranges">
        <listEntry value="100"/>
    </listAttribute>
    <stringAttribute key="config_db_connection_keys" value="FILES.SELECTED_DEBUG_OPEATION rvi_address connection_type CMSIS_PROJ"/>
    <stringAttribute key="config_db_connection_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_platform_name" value="STM32F4xx_DFP_STM32F407VGTx"/>
    <stringAttribute key="config_db_project_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_project_type_id" value="BARE_METAL"/>
    <stringAttribute key="config_file" value="C:\Users\Josiah Ferguson\Development Studio Workspace\.metadata\.plugins\com.arm.debug.cmsis\DS-MDK\STM32F4xx_DFP_STM32F407VGTx\platform.sdf"/>
    <booleanAttribute key="connectOnly" value="false"/>
    <stringAttribute key="connection_type" value="ST-Link"/>
    <booleanAttribute key="debugSequenceLogging" value="false"/>
    <listAttribute key="debugger.view.DisassemblyView:current">
        <listEntry value="&lt;Next Instruction&gt;"/>
        <listEntry value="100"/>
    </listAttribute>
    <stringAttribute key="debugger.view.NewRegisterView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;49&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;90&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;45&#9;-1&#9;true&#9;3&#9;false&#9;true&#9;41&#9;-1&#9;true&#9;4&#9;false&#9;true&#9;50&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;37&#9;-1&#9;true&#9;6&#9;false&#9;true&#9;62&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;53&#9;-1&#9;true"/>
    <stringAttribute key="debugger.view.NewRegisterView:_selectedRegisterSet" value="All registers"/>
    <mapAttribute key="debugger.view.NewRegisterView_registerSets"/>
    <stringAttribute key="debugger.view.VariableTreeView:DebugOutlineColumnState" value="OutlineConfig1&#9;8&#9;0&#9;true&#9;true&#9;149&#9;-1&#9;true&#9;1&#9;false&#9;true&#9;90&#9;-1&#9;true&#9;2&#9;true&#9;true&#9;95&#9;-1&#9;true&#9;3&#9;true&#9;true&#9;41&#9;-1&#9;true&#9;4&#9;true&#9;true&#9;50&#9;-1&#9;true&#9;5&#9;true&#9;true&#9;37&#9;-1&#9;true&#9;6&#9;true&#9;true&#9;62&#9;-1&#9;true&#9;7&#9;true&#9;true&#9;53&#9;-1&#9;true"/>
    <listAttribute key="debugger.view.VariableTreeView:USER_ADDED_FILE_STATICS"/>
    <listAttribute key="debugger.view.VariableTreeView:USER_ADDED_GLOBALS"/>
    <booleanAttribute key="debugger.view.register.DrawAsHex" value="false"/>
    <booleanAttribute key="debugger.view.variable.DrawAsHex" value="false"/>
    <stringAttribute key="dtsl_config" value="DtslScript_DebugAndOnChipTrace"/>
    <stringAttribute key="dtsl_config_script" value="C:\Users\Josiah Ferguson\Development Studio Workspace\.metadata\.plugins\com.arm.debug.cmsis\DS-MDK\STM32F4xx_DFP_STM32F407VGTx\dtsl_config_script.py"/>
    <stringAttribute key="dtsl_options_file" value=""/>
    <booleanAttribute key="holdReset" value="false"/>
    <intAttribute key="launch_configuration_version" value="3"/>
    <stringAttribute key="os_extension_id" value="com.arm.debug.os.rtx"/>
    <booleanAttribute key="preReset" value="false"/>
    <stringAttribute key="rvi_address" value="066BFF485550755187140826"/>
    <stringAttribute key="stopAtExpression" value="main"/>
    <stringAttribute key="watchpoints" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;watchpoints&gt;&#10;&lt;/watchpoints&gt;&#10;"/>
</launchConfiguration>
